{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block content %}
        <div class="imageHome">
        </div>
    <div class="container">
        <h1>Notre Univers</h1>
        <div class="hr">

        </div>
        <div class="row">
            {% for Universe in universe %}
                <div class="col-lg-6">
                    <div class="card text-white" style="width: 18rem;">
                        <img src="{{ vich_uploader_asset(Universe, 'imageFile') }}" class="" alt="{{ Universe.title }}">
                        <div class="card-img-overlay text-center">
                            <h5 class="card-title">{{ Universe.title }}</h5>
                            <p class="card-text">{{ Universe.description | raw }}</p>
                            <a href="{{ path('allCategories', {'OurUniverse': Universe.id}) }}" class="btn btn-primary">Découvrir</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row explication">
            <div class="col-lg-4 ">
                <h3>Livraison à domicile</h3>
                <p>
                    Pour les commandes sur jardibox.com
                </p>
            </div>
            <div class="col-lg-4">
                <h3>Click and Collect</h3>
                <p>
                    Commandez en ligne. Récupérez vos achats dans votre magasin
                </p>
            </div>
            <div class="col-lg-4">
                <h3>Satisfait ou remboursé</h3>
                <p>
                    15 jours pour changer d'avis
                </p>
            </div>
        </div>
    </div>
{% endblock %}
