{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block content %}
        <div class="imageHome">
        </div>
    <div class="container">
        <h1>Notre Univers</h1>
        <div class="row">
            {% for Universe in universe %}
                <div class="col-6">
                    <div class="card text-white" style="width: 18rem;">
                        <img src="{{ vich_uploader_asset(Universe, 'imageFile') }}" class="card-img" alt="{{ Universe.title }}">
                        <div class="card-img-overlay text-center">
                            <h5 class="card-title">{{ Universe.title }}</h5>
                            <p class="card-text">{{ Universe.description | raw }}</p>
                            <a href="{{ path('allCategories', {'OurUniverse': Universe.id}) }}" class="btn btn-primary">Découvrir</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <p class="text-center pt-2">JardiBox à votre service</p>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}
