<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">JardiBox</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {% if app.user is empty %}
                    <a class="nav-link" href="{{ path('registration') }}">{% trans %} Registration {% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('login') }}">{% trans %} Login {% endtrans %}</a>
                </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% trans %} My profile {% endtrans %}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="{{ path('account') }}">
                                    {% trans %}My personal information{% endtrans %}
                                </a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                            <li><a class="dropdown-item" href="#">{% trans %}Admin{% endtrans %}</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="#">Mes commandes en ligne</a></li>
                            <li><a class="dropdown-item" href="#">Mes services</a></li>
                            <li><a class="dropdown-item" href="{{ path('logout') }}">{% trans %} Logout {% endtrans %}</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
