<div class="summary">
    <div class="container">
        <h1>Nos Univers </h1>
        <div class ="d-flex justify-content-between">
            <div class="">
                <h4>Nos Univers</h4>
                    <ul>
                        <li><a href="{{ path('garden') }}">Jardin</a></li>
                        <li><a href="{{ path('outside') }}">Balcon et Terasse</a></li>
                        <li><a href="{{ path('house') }}">Maison</a></li>
                        <li><a href="{{ path('animals') }}">Animaux</a></li>
                    </ul>
            </div>
            <div class="">
                <h4>Nos Services</h4>
                <ul>
                    <li><a href="{{ path('delivery-retuns') }}">Livraison et Retours</a></li>
                    <li><a href="{{ path('commitment') }}">JardiBox s'engage</a></li>
                    <li><a href="{{ path('fidelity') }}">Fidélité</a></li>
                    <li><a href="{{ path('gift-card') }}">Carte Cadeau</a></li>
                </ul>
            </div>
            <div class="">
                <h4>JardiBox</h4>
                <ul>
                    <li><a href="#">Devenir Franchisé</a></li>
                    <li><a href="#">Nos Partenaires</a></li>
                    <li><a href="{{ path('newsletter') }}">Newsletter</a></li>
                    <li><a href="#">Plan du Site</a></li>
                </ul>
            </div>
            <div class="">
                <h4>Nos Conseils et Idées</h4>
                <ul>
                    <li><a href="#">Nos Conseils Jardin</a></li>
                    <li><a href="#">Nos Conseils Animaux</a></li>
                    <li><a href="#">Le blog Bien-être de JardiBox</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


