{% extends 'base.html.twig' %}

{% block title %}allcategories{% endblock %}

{% block content %}

    <div class="container">
            <div class="row">
                {% for allCategories in universe %}
                <div class="col-lg-6 text-center my-4">
                    <a href="{{ path('product', {'category': allCategories.id}) }}"> <img src="{{ vich_uploader_asset(allCategories, 'imageFile') }}" class="w-100" alt="{{ allCategories.name }}"></a>
                    <div>
                        <h5 class="">{{ allCategories.name }}</h5>
                    </div>
                    <div>
                        <p class="">{{ allCategories.description | raw }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>

{% endblock %}