{% extends 'base.html.twig' %}

{% block title %}nos-Engagements{% endblock %}

{% block content %}
    <div class="container">
        <h1>Nos engagements</h1>
        <h4>Les solutions sérénité</h4>
            <div class="commitment">
                <div class="row">
                    <div class="card">
                            <img src="{{ asset('build/images/pexels-karolina-grabowska-4968635.jpg') }}" class="card-img-top" alt="payement">
                            <div class="card-body">
                                <h5 class="card-title">Remboursement de la différence</h5>
                            </div>
                        </div>
                        <div class="card">
                            <img src="{{ asset('build/images/pexels-pixabay-210600.jpg') }}" class="card-img-top" alt="argent">
                            <div class="card-body">
                                <h5 class="card-title">Garantie 2 ans sur vos achats</h5>
                            </div>
                        </div>
                        <div class="card">
                            <img src="{{ asset('build/images/pexels-kaboompics-com-5808.jpg') }}" class="card-img-top" alt="feuille">
                            <div class="card-body">
                                <h5 class="card-title">Eco-responsable</h5>
                            </div>
                        </div>
                        <div class="card">
                            <img src="{{ asset('build/images/pexels-amina-filkins-5410132.jpg') }}" class="card-img-top" alt="bouquet">
                            <div class="card-body">
                                <h5 class="card-title">Changement d'avis</h5>
                            </div>
                        </div>
                        <div class="card">
                            <img src="{{ asset('build/images/pexels-thisisengineering-3912947.jpg') }}" class="card-img-top" alt="etude">
                            <div class="card-body">
                                <h5 class="card-title">"Pharmacie" des plantes</h5>
                            </div>
                        </div>
                        <div class="card">
                            <img src="{{ asset('build/images/pexels-sora-shimazaki-5926239.jpg') }}" class="card-img-top" alt="remboursement">
                            <div class="card-body">
                                <h5 class="card-title">Satisfait ou Remboursé</h5>
                            </div>
                        </div>
                    </div>
            </div>

    </div>
{% endblock %}