{% extends 'base.html.twig' %}

{% block title %}product{% endblock %}

{% block content %}
<h1>{{ product.name }}</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-7 my-4">
            <img src="{{ vich_uploader_asset(product, 'imageFile') }}" class="w-75" alt="{{ product.name }}">
        </div>
        <div class="col-lg-5 d-flex align-items-center flex-column text-center my-4">
            <h3>{{ product.name }}</h3>
            <h4>{{ product.brand }}</h4>
            <div>
                <p class="">{{ product.price }}€</p>
            </div>
            <div>
                <p>{{ product.description | raw}}</p>
            </div>
            {% if product.stock > 0 %}
            <div>
                <button type="button" class="btn btn-primary btn-lg ">ajouter au panier</button>
            </div>
            {% else %}
            <div>
                <p class="mb-4 text-danger">Nous n'avons plus se produit en stock</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}