{% extends 'base.html.twig' %}

{% block title %}product{% endblock %}

{% block content %}
<h1>{{ product.name }}</h1>
<div class="container">
    <div class="row">
        <div class="col-8">
            <img src="{{ vich_uploader_asset(product, 'imageFile') }}"  alt="{{ product.name }}">
        </div>
        <div class="col-3 my-4">
            <h3 class="text-center">{{ product.name }}</h3>
            <h4 class="text-center">{{ product.brand }}</h4>
            <div class="my-2 ml-4 text-center">
                <p>{{ product.price }}€</p>
            </div>
            <div class="my-2 text-center">
                <p>{{ product.description |raw}}</p>
            </div>
            <div class="my-2">
                <button type="button" class="btn btn-primary btn-lg">ajouter au panier</button>
            </div>

        </div>

    </div>
</div>

{% endblock %}