{% extends 'base.html.twig' %}

{% block title %}product{% endblock %}

{% block content %}
<h1>{{ product.name }}</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-7 my-4 w-50 h-50">
            <img src="{{ vich_uploader_asset(product, 'imageFile') }}"  alt="{{ product.name }}">
        </div>
        <div class="col-lg-5 d-flex align-items-center flex-column text-center my-4">
            <h3>{{ product.name }}</h3>
            <h4>{{ product.brand }}</h4>
            <div>
                <p class="">{{ product.price }}€</p>
            </div>
            <div>
                <p>{{ product.description | raw}}</p>
            </div>
            {% if product.stock < 1 %}
                <div>
                    <p class="mb-4 text-danger">Nous n'avons plus se produit en stock</p>
                </div>
            {% else %}
                <div>
                    <a href="{{ path('Cart', {'id': product.id}) }}"><button type="button" class="btn btn-primary btn-lg ">ajouter au panier</button></a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}