{% extends 'base.html.twig' %}

{% block title %}product{% endblock %}

{% block content %}
    <h1>product</h1>
        <div class="container">
            <div class="row">
            {% for product in allCategory %}
                <div class="col-lg-6 text-center my-4">
                    <img src="{{ vich_uploader_asset(product, 'imageFile') }}" class="w-50" alt="{{ product.name}}">
                    <div>
                        <a href="{{ path('showOne',{'slug': product.slug}) }}"> <h5 class="">{{ product.name}}</h5></a>
                    </div>
                    <div class="">
                        <p class="d-inline-flex">{{ product.brand}}</p>
                    </div>
                    <div class="d-inline-block">
                        <p class="">{{ product.price }} €</p>
                    </div>
                    <div>
                        <p class="">{{ product.description| raw }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
{% endblock %}