{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>{% trans %}Register{% endtrans %}</h1>

    <div class="container">
        <div class="justify-content-center text-center">
            {{ form_start( form ) }}
            <div class="col-4 mx-auto">
                <div class="">
                    {{ form_label(form.lastName) }}
                    {{ form_widget(form.lastName) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.lastName) }}
                    </div>
                </div>
                <div class="">
                    {{ form_label(form.firstName) }}
                    {{ form_widget(form.firstName) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.firstName) }}
                    </div>
                </div>
                <div class="">
                    {{ form_label(form.birthday) }}
                    {{ form_widget(form.birthday) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.birthday) }}
                    </div>
                </div>
                <div class="">
                    {{ form_label(form.phone) }}
                    {{ form_widget(form.phone) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.phone) }}
                    </div>
                </div>
                <div class="">
                    {{ form_label(form.address) }}
                    {{ form_widget(form.address) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.address) }}
                    </div>
                </div>
                <div class="">
                    {{ form_label(form.additionalAddress) }}
                    {{ form_widget(form.additionalAddress) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.additionalAddress) }}
                    </div>
                </div>
                <div class="">
                    {{ form_label(form.city) }}
                    {{ form_widget(form.city) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.city) }}
                    </div>
                </div>
                <div class="">
                    {{ form_label(form.postalCode) }}
                    {{ form_widget(form.postalCode) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.postalCode) }}
                    </div>
                </div>
                <div class="">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.email) }}
                    </div>
                </div>
                <div class="">
                    {{ form_label(form.password) }}
                    {{ form_widget(form.password) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.password) }}
                    </div>
                </div>
                <div>
                    <div>
                        <label>
                            {{ form_widget(form.agreeTerms) }}
                            <span> {% trans %} I accept the CUG {% endtrans %} </span>
                        </label>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-lg btn-primary">{% trans %} Send {% endtrans %}</button>
                </div>
            </div>
            {{ form_end( form ) }}
        </div>
    </div>
{% endblock %}